.bold
{
    font-weight:100;
}

.bold:hover
{
    font-weight:900;
}

#d1
{
    font-size:40px;
    background-color:purple;
    width:80%;
    margin:0 auto;
    padding:20px 10px;
}

#d2
{
    font-size:30px;
    background-color:gray;
    width:80%;
    margin:0 auto;
    padding:20px 10px;
}

#d3
{
    font-size:20px;
    background-color:coral;
    width:80%;
    margin:0 auto;
    padding:20px 10px;
}

.buttons
{
    width:80%;
    margin:0 auto;
}